<%
/* one parameter: attribute name */
var slug = nukaworks.localString({
    "en-US": "Attribute",
});

var URL = "/" + env.locale + "/docs/Web/SVG/" + slug + "/" + $0;
%>
<code><a href="<%- URL %>"><%= $0 %></a></code>
