@use "sass:color";
@use "../vars.scss" as *;
@use "../color-palette" as *;

@mixin light-theme {
  --text-primary: #{$nukaworks-theme-light-text-primary};
  --text-secondary: #{$nukaworks-theme-light-text-secondary};
  --text-inactive: #{$nukaworks-theme-light-text-inactive};
  --text-link: #{$nukaworks-theme-light-text-link};
  --text-invert: #{$nukaworks-theme-light-text-invert};

  --background-primary: #{$nukaworks-theme-light-background-primary};
  --background-secondary: #{$nukaworks-theme-light-background-secondary};
  --background-tertiary: #{$nukaworks-theme-light-background-tertiary};
  --background-mark-yellow: #{color.adjust(
      $nukaworks-color-light-theme-yellow-30,
      $alpha: -0.6
    )};
  --background-mark-green: #{color.adjust(
      $nukaworks-color-light-theme-green-30,
      $alpha: -0.6
    )};
  --background-information: #{color.adjust(
      $nukaworks-theme-light-icon-information,
      $alpha: -0.9
    )};
  --background-warning: #{color.adjust(
      $nukaworks-theme-light-icon-warning,
      $alpha: -0.9
    )};
  --background-critical: #{color.adjust(
      $nukaworks-theme-light-icon-critical,
      $alpha: -0.9
    )};
  --background-success: #{color.adjust(
      $nukaworks-theme-light-icon-success,
      $alpha: -0.9
    )};

  --border-primary: #{$nukaworks-theme-light-border-primary};
  --border-secondary: #{$nukaworks-theme-light-border-secondary};

  --button-primary-default: #{$nukaworks-theme-light-button-primary-default};
  --button-primary-hover: #{$nukaworks-theme-light-button-primary-hover};
  --button-primary-active: #{$nukaworks-theme-light-button-primary-active};
  --button-primary-inactive: #{$nukaworks-theme-light-button-primary-inactive};

  --button-secondary-default: #{$nukaworks-theme-light-button-secondary-default};
  --button-secondary-hover: #{$nukaworks-theme-light-button-secondary-hover};
  --button-secondary-active: #{$nukaworks-theme-light-button-secondary-active};
  --button-secondary-inactive: #{$nukaworks-theme-light-button-secondary-inactive};
  --button-secondary-border-focus: #{$nukaworks-theme-light-button-secondary-border-focus};
  --button-secondary-border-red: #{$nukaworks-theme-light-button-secondary-border-red};
  --button-secondary-border-red-focus: #{$nukaworks-theme-light-button-secondary-border-red-focus};

  --icon-primary: #{$nukaworks-theme-light-icon-primary};
  --icon-secondary: #{$nukaworks-theme-light-icon-secondary};
  --icon-information: #{$nukaworks-theme-light-icon-information};
  --icon-warning: #{$nukaworks-theme-light-icon-warning};
  --icon-critical: #{$nukaworks-theme-light-icon-critical};
  --icon-success: #{$nukaworks-theme-light-icon-success};

  --accent-primary: #{$nukaworks-theme-light-accent-primary};
  --accent-primary-engage: #{color.adjust(
      $nukaworks-theme-light-accent-primary,
      $alpha: -0.9
    )};

  --accent-secondary: #{$nukaworks-theme-light-accent-secondary};
  --accent-tertiary: #{color.adjust(
      $nukaworks-color-light-theme-blue-50,
      $alpha: -0.9
    )};

  --shadow-01: #{$nukaworks-theme-light-shadow-01};
  --shadow-02: #{$nukaworks-theme-light-shadow-02};
  --focus-01: #{$nukaworks-theme-light-focus-01};
  --field-focus-border: #{$nukaworks-theme-light-field-focus-border};

  --code-token-tag: #{$nukaworks-theme-light-code-token-tag};
  --code-token-punctuation: #{$nukaworks-theme-light-code-token-punctuation};
  --code-token-attribute-name: #{$nukaworks-theme-light-code-token-attribute-name};
  --code-token-attribute-value: #{$nukaworks-theme-light-code-token-attribute-value};
  --code-token-comment: #{$nukaworks-theme-light-code-token-comment};
  --code-token-default: #{$nukaworks-theme-light-code-token-default};
  --code-token-selector: #{$nukaworks-theme-light-code-token-selector};
  --code-background-inline: #{$nukaworks-theme-light-code-background-inline};
  --code-background-block: #{$nukaworks-theme-light-code-background-block};

  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(0, 0, 0, 0.25);

  --category-color: #{$nukaworks-color-light-theme-blue-50};
  --category-color-background: #{$nukaworks-color-light-theme-blue-50}10;
  --code-color: #{$nukaworks-color-light-theme-blue-40};
  --mark-color: #{$nukaworks-color-light-theme-blue-10};

  --plus-accent-color: #{$nukaworks-color-light-theme-red-50};
  --html-accent-color: #{$nukaworks-color-light-theme-red-50};
  --css-accent-color: #{$nukaworks-color-light-theme-blue-50};
  --js-accent-color: #{$nukaworks-color-light-theme-yellow-50};
  --http-accent-color: #{$nukaworks-color-light-theme-green-50};
  --apis-accent-color: #{$nukaworks-color-light-theme-violet-50};
  --learn-accent-color: #{$nukaworks-color-light-theme-pink-50};

  --plus-code-color: #{$nukaworks-color-light-theme-red-60};
  --html-code-color: #{$nukaworks-color-light-theme-red-60};
  --css-code-color: #{$nukaworks-color-light-theme-blue-60};
  --js-code-color: #{$nukaworks-color-light-theme-yellow-60};
  --http-code-color: #{$nukaworks-color-light-theme-green-60};
  --apis-code-color: #{$nukaworks-color-light-theme-violet-60};
  --learn-code-color: #{$nukaworks-color-light-theme-pink-60};

  --plus-mark-color: #{$nukaworks-color-light-theme-red-10};
  --html-mark-color: #{$nukaworks-color-light-theme-red-10};
  --css-mark-color: #{$nukaworks-color-light-theme-blue-10};
  --js-mark-color: #{$nukaworks-color-light-theme-yellow-10};
  --http-mark-color: #{$nukaworks-color-light-theme-green-10};
  --apis-mark-color: #{$nukaworks-color-light-theme-violet-10};
  --learn-mark-color: #{$nukaworks-color-light-theme-pink-10};

  --plus-accent-background-color: #{$nukaworks-color-light-theme-red-50}10;
  --html-accent-background-color: #{$nukaworks-color-light-theme-red-50}10;
  --css-accent-background-color: #{$nukaworks-color-light-theme-blue-50}10;
  --js-accent-background-color: #{$nukaworks-color-light-theme-yellow-50}10;
  --http-accent-background-color: #{$nukaworks-color-light-theme-green-50}10;
  --apis-accent-background-color: #{$nukaworks-color-light-theme-violet-50}10;
  --learn-accent-background-color: #{$nukaworks-color-light-theme-pink-50}10;

  --plus-accent-engage: #{color.adjust(
      $nukaworks-color-light-theme-red-50,
      $alpha: -0.3
    )};
  --html-accent-engage: #{color.adjust(
      $nukaworks-color-light-theme-red-50,
      $alpha: -0.3
    )};
  --css-accent-engage: #{color.adjust(
      $nukaworks-color-light-theme-blue-50,
      $alpha: -0.3
    )};
  --js-accent-engage: #{color.adjust(
      $nukaworks-color-light-theme-yellow-50,
      $alpha: -0.3
    )};
  --http-accent-engage: #{color.adjust(
      $nukaworks-color-light-theme-green-50,
      $alpha: -0.3
    )};
  --apis-accent-engage: #{color.adjust(
      $nukaworks-color-light-theme-violet-50,
      $alpha: -0.3
    )};
  --learn-accent-engage: #{color.adjust(
      $nukaworks-color-light-theme-pink-50,
      $alpha: -0.3
    )};

  --homepage-hero-bg: radial-gradient(
    114.42% 123.24% at 6.69% 13.67%,
    rgba(51, 178, 252, 0.2) 22.84%,
    rgba(152, 82, 250, 0.2) 47.63%,
    rgba(255, 230, 0, 0.2) 82.74%
  );
  --homepage-secondary-bg: linear-gradient(
    90deg,
    #8524ff -43.99%,
    #4d7fff 159.52%
  );

  --modal-backdrop-color: #{rgba($nukaworks-theme-dark-background-primary, 0.1)};
  --blend-color: #{$nukaworks-color-white}80;

  --text-primary-red: #{$nukaworks-color-light-theme-red-60};
  --text-primary-green: #{$nukaworks-color-light-theme-green-60};
  --text-primary-blue: #{$nukaworks-color-light-theme-blue-60};
  --text-primary-yellow: #{$nukaworks-color-light-theme-yellow-60};
}

@mixin dark-theme {
  --text-primary: #{$nukaworks-theme-dark-text-primary};
  --text-secondary: #{$nukaworks-theme-dark-text-secondary};
  --text-inactive: #{$nukaworks-theme-dark-text-inactive};
  --text-link: #{$nukaworks-theme-dark-text-link};
  --text-invert: #{$nukaworks-theme-dark-text-invert};

  --background-primary: #{$nukaworks-theme-dark-background-primary};
  --background-secondary: #{$nukaworks-theme-dark-background-secondary};
  --background-tertiary: #{$nukaworks-theme-dark-background-tertiary};
  --background-mark-yellow: #{color.adjust(
      $nukaworks-color-dark-theme-yellow-30,
      $alpha: -0.6
    )};

  --border-primary: #{$nukaworks-theme-dark-border-primary};
  --border-secondary: #{$nukaworks-theme-dark-border-secondary};

  --button-primary-default: #{$nukaworks-theme-dark-button-primary-default};
  --button-primary-hover: #{$nukaworks-theme-dark-button-primary-hover};
  --button-primary-active: #{$nukaworks-theme-dark-button-primary-active};
  --button-primary-inactive: #{$nukaworks-theme-dark-button-primary-inactive};

  --button-secondary-default: #{$nukaworks-theme-dark-button-secondary-default};
  --button-secondary-hover: #{$nukaworks-theme-dark-button-secondary-hover};
  --button-secondary-active: #{$nukaworks-theme-dark-button-secondary-active};
  --button-secondary-inactive: #{$nukaworks-theme-dark-button-secondary-inactive};

  --icon-primary: #{$nukaworks-theme-dark-icon-primary};
  --icon-secondary: #{$nukaworks-theme-dark-icon-secondary};
  --icon-information: #{$nukaworks-theme-dark-icon-information};
  --icon-warning: #{$nukaworks-theme-dark-icon-warning};
  --icon-critical: #{$nukaworks-theme-dark-icon-critical};
  --icon-success: #{$nukaworks-theme-dark-icon-success};

  --accent-primary: #{$nukaworks-theme-dark-accent-primary};
  --accent-primary-engage: #{color.adjust(
      $nukaworks-theme-dark-accent-primary,
      $alpha: -0.9
    )};
  --accent-secondary: #{$nukaworks-theme-dark-accent-secondary};

  --shadow-01: #{$nukaworks-theme-dark-shadow-01};
  --shadow-02: #{$nukaworks-theme-dark-shadow-02};
  --focus-01: #{$nukaworks-theme-dark-focus-01};
  --field-focus-border: #{$nukaworks-theme-dark-field-focus-border};

  --code-token-tag: #{$nukaworks-theme-dark-code-token-tag};
  --code-token-punctuation: #{$nukaworks-theme-dark-code-token-punctuation};
  --code-token-attribute-name: #{$nukaworks-theme-dark-code-token-attribute-name};
  --code-token-attribute-value: #{$nukaworks-theme-dark-code-token-attribute-value};
  --code-token-comment: #{$nukaworks-theme-dark-code-token-comment};
  --code-token-default: #{$nukaworks-theme-dark-code-token-default};
  --code-token-selector: #{$nukaworks-theme-dark-code-token-selector};
  --code-background-inline: #{$nukaworks-theme-dark-code-background-inline};
  --code-background-block: #{$nukaworks-theme-dark-code-background-block};

  --scrollbar-color: rgba(255, 255, 255, 0.25);

  --category-color: #{$nukaworks-color-dark-theme-blue-30};
  --category-color-background: #{$nukaworks-color-dark-theme-blue-30}70;
  --code-color: #{$nukaworks-color-dark-theme-blue-20};
  --mark-color: #{$nukaworks-color-dark-theme-blue-70};

  --plus-accent-color: #{$nukaworks-color-dark-theme-red-30};
  --html-accent-color: #{$nukaworks-color-dark-theme-red-40};
  --css-accent-color: #{$nukaworks-color-dark-theme-blue-30};
  --js-accent-color: #{$nukaworks-color-dark-theme-yellow-40};
  --http-accent-color: #{$nukaworks-color-dark-theme-green-40};
  --apis-accent-color: #{$nukaworks-color-dark-theme-violet-40};
  --learn-accent-color: #{$nukaworks-color-dark-theme-pink-40};

  --plus-code-color: #{$nukaworks-color-dark-theme-red-20};
  --html-code-color: #{$nukaworks-color-dark-theme-red-30};
  --css-code-color: #{$nukaworks-color-dark-theme-blue-20};
  --js-code-color: #{$nukaworks-color-dark-theme-yellow-30};
  --http-code-color: #{$nukaworks-color-dark-theme-green-30};
  --apis-code-color: #{$nukaworks-color-dark-theme-violet-30};
  --learn-code-color: #{$nukaworks-color-dark-theme-pink-30};

  --plus-mark-color: #{$nukaworks-color-dark-theme-red-70};
  --html-mark-color: #{$nukaworks-color-dark-theme-red-70};
  --css-mark-color: #{$nukaworks-color-dark-theme-blue-70};
  --js-mark-color: #{$nukaworks-color-dark-theme-yellow-70};
  --http-mark-color: #{$nukaworks-color-dark-theme-green-70};
  --apis-mark-color: #{$nukaworks-color-dark-theme-violet-70};
  --learn-mark-color: #{$nukaworks-color-dark-theme-pink-70};

  --plus-accent-engage: #{color.adjust(
      $nukaworks-color-dark-theme-red-40,
      $alpha: -0.3
    )};
  --html-accent-engage: #{color.adjust(
      $nukaworks-color-dark-theme-red-40,
      $alpha: -0.3
    )};
  --css-accent-engage: #{color.adjust(
      $nukaworks-color-dark-theme-blue-30,
      $alpha: -0.3
    )};
  --js-accent-engage: #{color.adjust(
      $nukaworks-color-dark-theme-yellow-40,
      $alpha: -0.3
    )};
  --http-accent-engage: #{color.adjust(
      $nukaworks-color-dark-theme-green-40,
      $alpha: -0.3
    )};
  --apis-accent-engage: #{color.adjust(
      $nukaworks-color-dark-theme-violet-40,
      $alpha: -0.3
    )};
  --learn-accent-engage: #{color.adjust(
      $nukaworks-color-dark-theme-pink-40,
      $alpha: -0.3
    )};

  --modal-backdrop-color: #{rgba($nukaworks-theme-dark-background-primary, 0.7)};
  --blend-color: #{$nukaworks-color-black}80;

  --text-primary-red: #{$nukaworks-color-dark-theme-red-30};
  --text-primary-green: #{$nukaworks-color-dark-theme-green-30};
  --text-primary-blue: #{$nukaworks-color-dark-theme-blue-30};
  --text-primary-yellow: #{$nukaworks-color-dark-theme-yellow-30};
}

body,
:root {
  --nukaworks-color-white: #{$nukaworks-color-white};
  --nukaworks-color-black: #{$nukaworks-color-black};
  --nukaworks-color-dark-grey: #{$nukaworks-color-dark-grey-30};
  --nukaworks-background-dark: #{$nukaworks-theme-dark-background-primary};
  --nukaworks-background-light: #{$nukaworks-theme-light-background-primary};
  --nukaworks-background-light-grey: #{$nukaworks-color-light-grey-30};
  --color-announcement-banner-accent: #{$nukaworks-color-light-theme-pink-40};
}

:root,
.light {
  @include light-theme;
}

.dark {
  @include dark-theme;
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}
